/* You can add global styles to this file, and also import other style files */
.elegant-italic {
    font-style: italic;
    font-family: 'Georgia', serif;
    font-size: 0.9em;
}

ul, li {
    list-style: none;
}